.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendar-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-radius: 18px;
  cursor: default;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid transparent;
  color: black;
  font-size: 30px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.calendar-cell.active:hover {
  border-color: lightblue;
  background-color: rgba(255, 255, 255, 0.2);
}

.calendar-cell.today {
  background-color: rgba(3, 255, 238, 0.6)
}

.calendar-cell.claimed {
  background-color: rgba(255, 255, 255, 0.3);
  color: #000;
}

.calendar-cell.today:hover {
  border-color: aqua;
}
.hidden {
  visibility: hidden;
}

.past {
  pointer-events: none;
}

.regpage{
  background-color: rgba(0, 0, 0, 0.7);
}

.upgradeinput{
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 100px;
  margin: auto;
  margin-top: 10px;
}

.balupgrdcard{
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 90vh;
  width: 60vh;
  height: 40vh;
  margin: auto;
  margin-top: 30px;
  display: flex;
  position: relative;
}

.upgrdcard{
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 90vh;
  width: 60vh;
  height: 60vh;
  margin: auto;
  margin-top: 30px;
  display: flex;
  position: relative;
}

.upgrdcard2{
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 90vh;
  width: 60vh;
  height: 60vh;
  margin: auto;
  margin-top: 30px;
  display: flex;
  position: relative;
}

.admincase{
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  position: relative;
  margin-top: 30px;
  max-width: 120vh;
}

.topup{
  margin: auto;
  width: 90vh;
  padding-top: 150px;
}

.loginstreak{
  margin: auto;
  width: 110vh;
  padding-top: 20px;
}

.alerteles{
  max-width: 300px;
  max-height: 100px;
  margin: 10px;
  position: absolute;
}

.openalert{
top: 130px;
position: absolute;
}

body {
  -webkit-font-smoothing: var(--mantine-webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--mantine-moz-font-smoothing);
  background-image: url("../../public/assets/background.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--mantine-color-text);
  font-family: var(--mantine-font-family);
  font-size: var(--mantine-font-size-md);
  line-height: var(--mantine-line-height);
  margin: 0;
}

.header {
  height: 3.5rem;
  opacity: 0.8;
  background-color: var(--mantine-color-body);
  border-bottom: 0.063rem solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: 0.5rem 0.75rem;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}

.link:not(.active):hover, .mantine-Menu-item[data-hovered]:not(.active) {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.link.active {
  background-color: var(--mantine-color-blue-filled);
  color: var(--mantine-color-white);
}

.sliders {
  margin-top: 10;
  margin-bottom: 10;
  width: 150px;
  margin: auto;
}